:root {
  ---main-backgroung-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: var(---main-backgroung-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  display: block;
}
img {
  display: block;
}
address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**--------------------------HEADER-------------------------**/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.container-header {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link {
  position: relative;
  color: #404bbf;
}

.studio-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-link {
}

.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:focus {
  color: #404bbf;
}
.header-address-link:hover {
  color: #404bbf;
}

/**--------------------------HERO-------------------------**/
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  width: 496px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

/**----------------------OPPORTUNITIES---------------------**/
.opportunities {
  padding-top: 120px;
  padding-bottom: 120px;
}
.icons-opportuinities-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/background-opportinities.jpg);
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
}
.icons-opportuinities-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden-opportunities-title {
}
.opportunities-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.opportunities-item {
}
.opportunities-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.about-opportunities-titles {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}

/**--------------------------WORK-------------------------**/
.work {
  padding-bottom: 120px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  gap: 24px;
}

.work-item {
}

/**--------------------------TEAM-------------------------**/
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.about-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.about-team-title-work {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover {
  background-color: #31d0aa;
}
.team-soc-link:focus {
  background-color: #31d0aa;
}

.team-soc-icon {
  fill: #f4f4fd;
}

.about-team-title-container {
  padding: 32px 16px;
}

/**-------------------------CUSTOMERS---------------------**/
.customers {
  padding: 120px 0px;
}
.customers-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover {
  color: #404bbf;
}
.customers-link:focus {
  color: #404bbf;
}

/**--------------------------FOOTER-------------------------**/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  max-width: 264px;
}

.footer-icon-container {
  margin-left: 120px;
}
.footer-text-icon {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover {
  background-color: #31d0aa;
}
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: #f4f4fd;
}

/**--------------------------Second page------------------------*/

/**-----------------------PORTFOLIO HEADER-------------------*/

.portfolio-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.portfolio-header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.container-header-portfolio {
  display: flex;
  align-items: center;
}
.portfolio-logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.portfolio-header-logo {
  color: #2e2f42;
}

.portfolio-header-list {
  display: flex;
  gap: 40px;
}
.portfolio-header-item {
}
.portfolio-header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-porfolio-link {
  position: relative;
  color: #404bbf;
}

.main-porfolio-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.portfolio-header-link:hover {
  color: #404bbf;
}
.portfolio-header-link:focus {
  color: #404bbf;
}
.portfolio-header-address {
  font-style: normal;
}
.portfolio-header-list-address {
  display: flex;
}
.portfolio-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-address-link:hover {
  color: #404bbf;
}
.portfolio-address-link:focus {
  color: #404bbf;
}

/**-----------------------HERO PORTFOLIO------------------------*/
.hero-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.help-button-list {
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.help-button-item {
}

.help-button-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color 250ms, border 250ms, color 250ms,
    box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.help-button-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #404bbf;
}
.help-button-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #404bbf;
}

.hero-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.hero-portfolio-item {
}
.hero-portfolio-titles-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.hero-portfolio-link {
  display: block;
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.back-text-styles {
  position: relative;
  overflow: hidden;
}

.hero-portfolio-text {
  position: absolute;
  top: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.hero-portfolio-link:hover .hero-portfolio-text {
  transform: translate(0);
}

.hero-portfolio-link:focus .hero-portfolio-text {
  transform: translate(0);
}

.hero-portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero-portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-portfolio-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.about-hero-portfolio-titles {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}

/**-----------------------PORTFOLIO FOOTER------------------------*/

.portfolio-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.portfolio-footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.portfolio-footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}
.portfolio-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  max-width: 264px;
}

/**-----------------------BACKDROP------------------------*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms, visibility 300ms linear;
}

.modal {
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-button {
  background: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: block;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button:hover {
  background-color: #404bbf;
}
.modal-button:focus {
  background-color: #404bbf;
}

.modal-button:hover > .modal-icon {
  fill: #ffffff;
}

.modal-button:focus > .modal-icon {
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
